<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender: logs INFO and higher due to root logger level -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-4level %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File appender: filters to log only WARN and higher -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/gallery-generator-errors.log</file>
        <append>false</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss} %-4level %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger allows INFO and higher to flow to appenders -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
